html {
    background-color: #A34A21;
}

body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    background-color:ghostwhite;
    padding: 15px;
    margin: 1.5rem auto 1rem auto;
    border: 1px solid gray;
    border-radius: 10px;
}

p {
    margin: .5em 1em;
}

h1 {
    color: #551700;
    font-weight: bolder;
    font-size: 4em;
}

h2 {
    color: #551700;
    font-size: x-large;
    font-size: 2em;
}

h3 {
    color: #551700;
    font-size: large;
    font-weight: bold;
    margin: 0px;
}

ul {
    list-style-image: url('/images/favicon-16x16.png');
    font-size: large;
}

li {
    padding: 1rem;
}

picture {
    float: right;
    margin: 1em 2em;
}

picture img {
    max-width: 200px;
}

#examples-box {
    margin: 5px;
}

.list-title {
    list-style-image: none;
    list-style-type: none;
    font-weight: bold;
    
}

.list-text {
    list-style-image: none;
    list-style-type: none;
}

.circle-marker {
    list-style-image: none;
    list-style-type: circle;
}

/* https://www.w3schools.com/css/css_navbar.asp */
.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #7c4c37;
    border: solid 1px black;
    list-style-image: none;
    border-radius: 8px;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

.navbar-mini {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #7c4c37;
    border: solid 1px black;
    list-style-image: none;
    border-radius: 8px;
}

.navbar-mini li {
    display: inline;
}

.navbar-mini a {
    color: white;
    text-decoration: none;
    display: block;
}


.screenshot-div {
    display: flex;
    margin: 10px 0;
}

.screenshot-div li {
    justify-content: flex-start;
}

.screenshot-div img {
   justify-content: flex-end;
   border-radius: 5px;
}

.screenshot {
    max-width: 500px;
    justify-content: center;
    height: auto;
    border-radius: 10px;
    margin-left: 15px;
}

#add-remove {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    font-size: x-small;
    color: gray;
}

footer a {
    color: salmon;
}

footer a:hover {
    color: lightsalmon;
}

footer a:visited {
    color: lightsalmon;
}

/* https://www.w3schools.com/cssref/atrule_media.php */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    .navbar-mini {
        flex-direction: column;
        align-items: center;
    }

    .navbar-mini a {
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    picture img {
        max-width: 100px;
    }
}
